/* You can add global styles to this file, and also import other style files */

body {
    background-color: #cddccd;
    font-family: 'Droid Sans', sans-serif;
}

table {
  background-color: #eee;
}

table > thead > tr > th {
  padding: 5px;
  font-size: large;
  background-color: #163c26;
  color: #fff;
}
